.gdo-avatar, .gdo-avatar img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}
.gdo-avatar img {
	width: 34px;
	height: 34px;
	padding: 2px;
	background: #aaa;
}
.gdo-avatar.male img { background: #369; }
.gdo-avatar.female img { background: #f08; }
